[Unit]
Description=mpdSync.  /usr/lib/systemd/system/" 

[Service]
Type=simple
ExecStart=/home/marc/bin/guicmd/screens/mpdController/systemd/mpdSync.service.tcl

[Install]
WantedBy=multi-user.target
